<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search Recruiter</title>
    <link rel="stylesheet" href="Search_Recruiter_Style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/e33a9afea3.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- style -->
    <style>
        table, th, td {
          border: 2px solid black;
        }
        </style>
</head>
<body>
    <div class="logoBack">
    
        <div class="logo"> <img id="logo" src="../material/LOGO.png" alt="JoBBooth"> </div>
    

            <div class="help">
            <a href="help.html">Help</a></div>
            <div class="contact">
            <a href="contact.html">Contact</a></div>
            <div class="about">
            <a href="about.html">About</a></div>
        </div>
    
    <br> 
    <br><br>
    <div class="SearchRecruiter">
        <input type="text" id="SearchRecruiter" name="SearchRecruiter"  style="height:40px; width: 85%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color:linen;" placeholder="Search Recruiter" autocomplete="off">

    </div>
    <style>
      input[type=text]{
        outline: none;
        transition: 0.3s;
      }
      input[type=text]:focus{
        border-color: rgb(2, 105, 10);
        box-shadow: 0 0 8px 0 darkgreen;
    
      }
    </style>
    <br>
    <button type="submit" id="SearchRecruiterbtn">Search</button>
    <br>

    <br><hr>

    <div class="SendRequest">
        <p>Search Results</p>

        <table>
            <tr>
              <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold;">Profile Photo</th>
              <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold;">Agency Name</th>
              <th style="height:40px; width: 35%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold;">Specialized In</th>
              <th style="height:40px; width: 30%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold;">Rating</th>
            </tr>
          </table>

          <button type="submit" id="SendRequestbtn">Send Request</button>
    </div>

    <br><hr>
    <br>
</body>
</html>