<!DOCTYPE html>
<html>

    <head>
        <title>About | JobBooth</title>
        <link rel="stylesheet" href="style.css">
        <!-- <link rel="icon" href="../material/images/LOGO.png" type="image/gif" sizes="5x5"> -->
        <script src="https://kit.fontawesome.com/e33a9afea3.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="candHome">

        <div class="logoBack">
            <div> <img id="logo" src="../material/images/LOGO.png" alt="JoBBooth"> </div>
            <div class="navBar">
                <a href="contact.html">CONTACT</a>
                <a href="about.html">ABOUT</a>
                <a href="../views/home.php">HOME</a>
            </div>
        </div>

        <div class="aboutContainer">
            

                <div class="newColAbout">
                    <div class="aboutHeading"><b>ABOUT US</b></div>
                    <h1>What Is JobBooth?</h1>
                    <h2 style="font-size: xx-large;">We aid recruitment in every way...</h2>
                    
                    <p><b>We provide an online platform for companies and job seekers to meet. Find the best careers & employees by joining us today.</b></p>
                    <p><b>We offer services of the recruitment agencies to make the recruitment process more efficient and effective. Companies can join in with their interviewers and handle the interviewing process as well.</b></p>

                </div>

                <div class="midColAbout" style="width: 8%;"></div>
                
                <div class="picColAbout">

                </div>

            </div>
</body> 
</html>

