<!DOCTYPE html>
<html>

    <head>
        <title>Contact | JobBooth</title>
        <link rel="stylesheet" href="style.css">
        <!-- <link rel="icon" href="../material/images/LOGO.png" type="image/gif" sizes="5x5"> -->
        <script src="https://kit.fontawesome.com/e33a9afea3.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="candHome">

        <div class="logoBack">
            <div> <img id="logo" src="../material/images/LOGO.png" alt="JoBBooth"> </div>
            <div class="navBar">
                <a href="contact.html">CONTACT</a>
                <a href="about.html">ABOUT</a>
                <a href="../views/home.php">HOME</a>
            </div>
        </div>

        <div class="contactContainer">
            <div class="aboutHeading"><b>CONTACT US</b></div><br><br>
            <div class="topicsContact">Mail Us:</div><br>
            <h><i class="far fa-envelope"></i> jobboothcs10@gmail.com</h><br><br>
            <div class="topicsContact">Call:</div><br>
            <h><i class="fab fa-whatsapp"></i>&nbsp;&nbsp;&nbsp;&nbsp; +94 71 7754881</h><br>
            <h><i class="fab fa-whatsapp" ></i>&nbsp;&nbsp;&nbsp;&nbsp; +94 71 0378061</h><br>
            <h><i class="fab fa-whatsapp" ></i>&nbsp;&nbsp;&nbsp;&nbsp; +94 77 3935977</h><br>
            <h><i class="fab fa-whatsapp" ></i>&nbsp;&nbsp;&nbsp;&nbsp; +94 71 6547268</h>

        </div>
</body> 
</html>

