<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password | JoBBooth</title>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="fPassword">
      <div class="logoBack">
        <div><a href="home.php"><img id="logo" src="../material/images/LOGO.png" alt="JoBBooth"></a></div>
            <div class="navBar">
                <a href="contact.html">CONTACT</a>
                <a href="about.html">ABOUT</a>
                <a href="../views/home.php">HOME</a>
            </div>
        </div>

        <div class="authHeading"><h>Forgot Password?</h></div>

        
    <div class="fpContainer">
      <form>
        <!-- <label for="email">Enter your email:</label><br> -->
        <input type="email" id="email" name="email" placeholder="Enter your email:" required>
        <button type="submit">SUBMIT</button>
      
      
        <!-- <label for="code">Enter verification code:</label><br> -->
        <input type="text" id="code" name="code" placeholder="Enter verification code:"><br>
        <p>*A verification code has been sent to your email.</p>
        <button type="submit">SUBMIT</button>
      </form>
    </div>

</body>
</html>