<!DOCTYPE html>
<html>
    <head>
        <title>JoBBooth</title>
        <link rel="stylesheet" href="home_style.css">
        <script src="https://kit.fontawesome.com/e33a9afea3.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="logoBack">
            <div> <img id="logo" src="../material/LOGO.png" alt="JoBBooth"> </div>
        </div>

        <div class="desc">
            <p1>Welcome to JoBBooth!</p1>
            <p2>JoBBooth is a job finding and recruitment platform with lots of cool features that will make your life easy. This platform is mainly built up to overcome the difficulties faced by job seekers and organizations in the recruitment process.</p2>
            <p3>Join with us to make your job hunting or recruitment so much easier. </p3>
        </div>

        <div class="rectangle">
            <h>Login</h>
            <form class="loginForm">
                <label name="s">Login as</label><br>
                <select name="s">
                    <option selected disabled>Login as:</option>
                    <option value="1">Organization</option>
                    <option value="2">Candidate</option>
                    <option value="3">Recruiter</option>
                    <option value="4">Interviewer</option>
                </select>

                <br><br>
                <i class="fas fa-user"></i>
                <input name="un" class="username" type="text" placeholder="Username">
                <br><br>
                <i class="fas fa-lock"></i>
                <input class="password" type="password" placeholder="Password">
                <br><br>
                <a class="fp" href="forgotP.html">Forgot password?</a>
                <br><br><br>
                <button type="submit">LOGIN</button>
                <br><br>
                <a>New to JoBBooth? </a> <a class="su" href="#">Sign Up</a>

                
            </form>
        </div>

    </body>

</html>