#logo {
    margin-top: 9px;
    width: 20%;
}

.logoBack{
    width: 100%;
    height: 220px;
    background: rgba(0,128,128,0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.desc p1{
    position: absolute;
    top: 30%;
    left: 50px;
    color: white;
    font-family: body;
    font-size: 70px;
}

.desc p2{
    margin-right: 500px;
    position: absolute;
    top: 50%;
    left: 50px;
    color: white;
    font-family: body;
    font-size: 20px;
}

.desc p3{
    margin-right: 500px;
    position: absolute;
    top: 65%;
    left: 50px;
    color: white;
    font-family: body;
    font-size: 20px;
}



.rectangle{
    position: absolute;
    right: 100px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: center;
    width: 350px;
    height: 500px;
}

@font-face {
    font-family: rounded;
    src: url(../material/rounded.otf);
}

@font-face {
    font-family: body;
    src: url(../material/body.ttf);
}

.loginForm{
    position: relative;
    display: block;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.loginForm select{
    padding: 8px 12px;
    color: teal;
    font-family: body;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
    width: 300px;
}

.loginForm select:focus,
.loginForm select:hover{
    outline: teal;
    border: 1px solid #bbbbbb;
}

.loginForm select option{
    background: white;
}

.loginForm label {
    float: left;
    font-family: body;
    font-size: 12px;
    font-weight: bold;
}

.username,.password{
    font-family: body;
    float: right;
    height: 25px; 
    width: 275px; 
    background-color: transparent;  
    border-style: solid;  
    border-width: 0px 0px 1px 0px;  
    border-color: teal; 
    outline:0; 
}

.username:focus::placeholder, .password:focus::placeholder{
    color: transparent;
}

.fas{
    margin-top: 7px;
    margin-right: 7px;
    color: teal;
}

.loginForm button{
    font-family: body;
}
.fp{
    color: teal;
    font-family: body;
    float: right;
    font-size: 15px;
}
.su{
    color: teal;
    font-family: body;
}

.loginForm button{
    background-image: url(../material/login_button.jpg);
    background-size:cover;
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 80%;
}

.rectangle h{
    position: relative;
    top: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: rounded;
    color: teal;
}

body{
    background: url("../material/home_back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    font-family: body;
    margin-top: -110px;
    margin-left: 0%;
    margin-right: 0%;
}