<!DOCTYPE html>
<html>
<head>
    <title>Candidate Home Page</title>
        <link rel="stylesheet" href="Candidate_HomePage_Style.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <script src="https://kit.fontawesome.com/e33a9afea3.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="logoBack">
    
        <div class="logo"> <img id="logo" src="../material/LOGO.png" alt="JoBBooth"> </div>
    
        <div class="helplink">
            <div class="help">
            <a href="help.html">Help</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="contact.html">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="about.html">About</a></div>
        </div>
    </div>

    <br><br>




</body>
</html>
