#logo{
    height: 200px;
    margin-top: -75px;
    width: 200px;
    margin-right: 1200px;
}

.logoBack{
    
    width: 100%;
    height: 55px;
    background: green;
    box-shadow: 0 4px 8px 0 rgba(4, 27, 2, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    position: fixed;
    display: inline-grid;
}

.help{
    margin-top: -110px;
    margin-left: 1200px;
    font-size: 20px;
    color: lightgreen;
}
