 #logo {
    height: 200px;
    margin-top: -40px;
    width: 200px;
    margin-right: 60%;
}

.logoBack{
    width: 50%;
    height: 50px;
    background: transparent;
    /* box-shadow: 0 4px 8px 0 rgba(4, 27, 2, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
}   

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    background-image: url(../material/org_signup_backgrnd_img.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1{
    justify-content: center;
    align-items: center;
    color: chartreuse;
    font-weight: bolder;
    font-style: italic;
    
}


.container{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    height: 400px;
    background-color: greenyellow;
    display: flex;
    margin-top: 40px;
} 

h2{
    margin-right: 10px;
}
.formgroup{
  float: right;
  width: 200px;
  margin-left: 0px;
  padding: 10px;
  font-size: x-small;
  font-weight: bold;
  font-style: italic;
  
}
.section1{
    width: 150px;
    margin-left: 0px;
    margin-bottom: 45px;
    float: left;
}

.formgroup2{
  float: left;
  width: 200px;
  margin-left: 20px;
  padding: 10px;
  font-size: x-small;
  font-weight: bold;
  font-style: italic;
}

.section2{
    width: 150px;
    margin-top: 65px;
    margin-right: 50px;
    float: right;
}

h5{
    margin-top: -12px;
}

label{
    /* text-transform: uppercase; */
    font-size: 20px;
    font-weight: bold;
    color: rgb(16, 75, 11);
}

input{
    border: none;
    border-bottom: 1px solid lightgray;
    background-color: gray;
    width: 100%;
    position: relative;
    top: -12px;
    background-color: aliceblue;
    padding: 5px;
}

input:focus{
    outline: none;
    border-bottom: 1px solid green;
    font-size: 14px;
    font-weight: bolder;
}

#password:focus{
    color: rgb(7, 61, 25);
    font-size: 16px;
    font-weight: bold;
}

#btn{
    border: none;
    background-color: rgb(15, 26, 17);
    width: 120px;
    border-radius: 20px;
    padding: 10px;
    color: rgb(16, 143, 16);
    margin-left: 50px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 100%;
   
}

p{
    font-size: medium;
    margin-left: 50px;
    
}

.line{
    border-bottom: 1px solid lightcyan;
    width: 100%;
    margin-top: 50px;
}

.socialIcons{
    display: flex;
    margin-top: 5px;
    width: 200px;
    margin-left: 40px;
    

}

.icon{
    margin: 15px 12px;
    position: relative;
    left: 30px;
    width: 40px;
    height: 25px;
    border-radius: 50%; 
    border: 2px solid rgb(13, 97, 6);
    line-height: 25px;
    font-size: 12px;
    
}

.fab{
    position: relative;
    left: 6px;
}

h6{
    position: relative;
    top: -8px;
    font-size: 12px;
    
}

#btn:hover, .icon:hover{
    box-shadow: 0 0 20px black;
    background-color: aquamarine;
}

.container .btn{
    margin-bottom: 20px;
}
