<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup-Organization</title>
        <link rel="stylesheet" href="organization_signup_style.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <script src="https://kit.fontawesome.com/e33a9afea3.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

   
</head>
<body>
    <div class="logoBack">
        <div> <img id="logo" src="../material/LOGO.png" alt="JoBBooth"> </div>
    </div>
    <br><br>
   <center><h1>Sign Up Form</h1></center>
    <div class="container">

         <!-- left side of the form -->
         <div class="section1">
            
            <center><h2>Join with us!</h2></center>

            <div class="formgroup">
                
                <input type="text" id="Orgname" name="Orgname" placeholder="Organization Name" autocomplete="off">
            </div>
            <div class="formgroup">
                
                <input type="text" id="CRN" name="CRN" placeholder="Company Registration No." autocomplete="on">
            </div>
            <div class="formgroup">
                
                <input type="email" id="email" name="email" placeholder="Email Address" autocomplete="off">
            </div>
            <div class="formgroup">
                
                <input type="text" id="TP" name="TP" placeholder="Telephone No." autocomplete="off">
            </div>
            <div class="formgroup">
                
                <input type="text" id="Address" name="Address" placeholder="Address" autocomplete="off">
            </div>
            <div class="formgroup">
                
                <input type="text" id="Street" name="Street" placeholder="Street Name" autocomplete="off">
            </div>
        </div>

        <!-- right side of form -->
        <div class="section2">

        <div class="formgroup2">
            
            <input type="text" id="City" name="City" placeholder="City Name" autocomplete="off">
        </div>
        <div class="formgroup2">
            
            <input type="text" id="PostCode" name="PostCode" placeholder="Postal Code" autocomplete="off">
        </div>
        <div class="formgroup2">
           
            <input type="password" id="password" name="password" placeholder="Enter Password" autocomplete="off">
        </div>
        <div class="formgroup2">
           
            <input type="password" id="confpassword" name="confpassword" placeholder="Confirm Password" autocomplete="off">
        </div>
        <!-- sign up button -->
    <button type="submit" id="btn">Sign up</button>
    <p>Already have an account?<a href="signin.html">Sign in</a></p>
    </div>
    
</div>
     
    <br><br>
    <!--For horizontal line-->
    <div class="line"> </div> 
    
    <!-- Social Icon -->
    <div class="socialIcons">
        <h6>or connect with - </h6>
        <div class="fb icon"><i class="fab fa-facebook"></i></div>
        <div class="twitter icon"><i class="fab fa-twitter"></i></div>
        <div class="google icon"><i class="fab fa-google"></i></div>
    </div> 
    
</body>
</html>