#logo {
    position: absolute;
    top:8px;
    left: 5%;
    width:200px;
    height: 50px;
}

.logoBack{
    
    width: 100%;
    height: 60px;
    background: transparent;
    box-shadow: 0 4px 8px 0 rgba(4, 27, 2, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    position: fixed;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.logoBack .help a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
    left: 80px;
}

.logoBack .contact a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
    left: 40px;
}

.logoBack .about a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
}

/* End of Header */

p{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 35px;
    color: rgb(3, 87, 3);
}

.SearchCandidate{
    margin-top: 70px;
    margin-left: 10%;
    width: 80%;
}

#SearchCandidatebtn{
    border: none;
    background-color: teal;
    width: 120px;
    border-radius: 20px;
    padding: 10px;
    color: rgb(5, 26, 5);
    margin-left: 58%;
    font-weight: bold;
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
   
}
#SearchCandidatebtn:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(18, 141, 7);
}

hr {
    position: relative;
    left: 0%;
    width: 90%;
    top: 20px;
    border-top: 2px dashed rgb(16, 119, 7);
  }

  .ScheduleTable{
    position: relative;
    top: 30px;  
    height: 470px;
    background-color: rgb(157, 240, 157);
    }
.ScheduleTable table{
    position: relative;
    top: 25px;
    width: 100%;
    background-color: rgb(60, 228, 9);
}

.btns{
    position: relative;
    top: 370px;
    left: 45%;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    grid-gap: 1rem;

}

#ScheduleInterviewbtn{
    border: none;
    background-color: teal;
    width: 220px;
    border-radius: 20px;
    padding: 10px;
    color: rgb(5, 26, 5);
    margin-left: 58%;
    font-weight: bold;
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
}

#ScheduleInterviewbtn:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(18, 141, 7);
}

#AddToListbtn{
    border: none;
    background-color: teal;
    width: 220px;
    border-radius: 20px;
    padding: 10px;
    color: rgb(5, 26, 5);
    margin-left: 58%;
    font-weight: bold;
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
}

#AddToListbtn:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(18, 141, 7);
}

#RemoveFromListbtn{
    border: none;
    background-color: teal;
    width: 220px;
    border-radius: 20px;
    padding: 10px;
    color: rgb(5, 26, 5);
    margin-left: 58%;
    font-weight: bold;
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
}

#RemoveFromListbtn:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(18, 141, 7);
}
