#logo {
    position: absolute;
    top:8px;
    left: 5%;
    width:200px;
    height: 50px;
}

.logoBack{
    
    width: 100%;
    height: 60px;
    background: transparent;
    box-shadow: 0 4px 8px 0 rgba(4, 27, 2, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    position: fixed;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.logoBack .help a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
    left: 80px;
}

.logoBack .contact a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
    left: 40px;
}

.logoBack .about a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
}

/* End of Header */

hr {
    position: relative;
    left: 10%;
    width: 90%;
    top: 20px;
    border-top: 2px dashed rgb(16, 119, 7);
  }

.ViewCandidate1{
   position: relative;
   top: 40px;
   left: 10%;
   display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    grid-gap: 2rem;
  }

  .ViewCandidate2{
    position: relative;
    top: 60px;
    left: 18.5%;
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-gap: 6rem;
}

.ViewCandidate3-1{
    position: relative;
    top: 30px;
    left: 18.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ViewCandidate3-2{
      position: relative;
      top: 30px;
      display: grid;
      grid-template-rows: 0fr 0fr 0fr;
      grid-gap: 1rem;
      width: 30%;
  }

  #AddToListbtn{
    border: none;
    background-color: teal;
    border-radius: 20px;
    padding: 10px;
    color: rgb(5, 26, 5);
    font-weight: bold;
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
   
}
#AddToListbtn:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(18, 141, 7);
}

#RemoveFromListbtn{
    border: none;
    background-color: teal;
    border-radius: 20px;
    padding: 10px;
    color: rgb(5, 26, 5);
    font-weight: bold;
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
   
}
#RemoveFromListbtn:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(18, 141, 7);
}

#Submitbtn{
    border: none;
    background-color: teal;
    border-radius: 20px;
    padding: 10px;
    color: rgb(5, 26, 5);
    font-weight: bold;
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
   
}
#Submitbtn:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(18, 141, 7);
}