#logo {
    position: absolute;
    top:8px;
    left: 5%;
    width:200px;
    height: 50px;
}

.logoBack{
    
    width: 100%;
    height: 60px;
    background: transparent;
    box-shadow: 0 4px 8px 0 rgba(4, 27, 2, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    position: fixed;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.logoBack .help a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
    left: 80px;
}

.logoBack .contact a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
    left: 40px;
}

.logoBack .about a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
}

/* End of Header */

body{
    background-image: url(../material/candidate_homepage_background_img.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.candidatebio{
    float: left;
    margin-left: 20px;
    margin-top: 50px;
    text-align: center;
}

.candidatePhoto{
    float: right;
    margin-right: 400px;
    margin-top: 55px;
    text-align: center;
}

#BioUpdate{
    border: none;
    background-color: rgb(13, 223, 142);
    width: 150px;
    height: 70px;
    border-radius: 20px;
    padding: 10px;
    color: rgb(16, 143, 16);
    position: relative;
    margin-top: 15px;
    margin-left: 60%;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 150%;
    cursor: pointer;
}

#BioUpdate:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(8, 68, 18);
}

hr {
    border-top: 2px dashed rgb(16, 119, 7);
  }


.SearchVacancy{
    position: relative;
    margin-top: 250px;
    margin-left: 50px;
    width: 80%;
}

#SearchVacancybtn{
    border: none;
    background-color: teal;
    width: 120px;
    border-radius: 20px;
    padding: 10px;
    color: rgb(5, 26, 5);
    margin-left: 58%;
    font-weight: bold;
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
   
}
#SearchVacancybtn:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(18, 141, 7);
}

.SearchResultTable{
   
    backdrop-filter: blur(10px);
    height: 400px;
    position: relative;
    width: 80%;
    left: 10%;
}

.SearchResultTable p{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #1ed31e;
    font-style: italic;
    backdrop-filter: blur(10px);

}
.SearchResultTable table{
    position: relative;
    top: -15px;
    width: 100%;
    background-color: rgb(60, 228, 9);
}


/* Job Request and pending interviews */
.lastSection{
    display: grid;
    grid-template-columns: 3fr 2fr;
    
}

.lastSection1{
    backdrop-filter: blur(10px);
    height: 500px;
    width: 90%;
}
.lastSection1 p{
    font-size: 200%;
    text-align: center;
    color: #1ed31e;
}

.lastSection1 table{
    background-color: rgb(60, 228, 9);
    position: relative;
    left: 30px;

}

.lastSection2{
    backdrop-filter: blur(10px);
}

.lastSection2 table{
    background-color: rgb(60, 228, 9);
    position: relative;
    left: 45px;
}

.lastSection2 p{
font-size: 200%;
    text-align: center;
    color: #1ed31e;
    backdrop-filter: blur(10px);
}


/* AcceptInterviewbtn */
.lastSection2 #AcceptInterviewbtn{
    position: relative;
    top: 270px;
    border: none;
    background-color: teal;
    width: 120px;
    border-radius: 20px;
    padding: 10px;
    color: rgb(5, 26, 5);
    margin-left: 10%;
    font-weight: bold;
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
}
#AcceptInterviewbtn:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(18, 141, 7);
}


/* Reschedule btn */
.lastSection2 #Reschedulebtn{
    position: relative;
    top: 270px;
    border: none;
    background-color: teal;
    width: 120px;
    border-radius: 20px;
    padding: 10px;
    color: rgb(5, 26, 5);
    position: relative;
    margin-left: 15%;
    font-weight: bold;
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
}


#Reschedulebtn:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(18, 141, 7);
}

/* Declinebtn */
.lastSection2 #Declinebtn{
    position: relative;
    top: 227px;
    border: none;
    background-color: teal;
    width: 120px;
    border-radius: 20px;
    padding: 10px;
    color: rgb(5, 26, 5);
    margin-left: 75%;
    font-weight: bold;
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
}


#Declinebtn:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(18, 141, 7);
}