#logo {
    position: absolute;
    top:8px;
    left: 5%;
    width:200px;
    height: 50px;
}

.logoBack{
    
    width: 100%;
    height: 60px;
    background: transparent;
    box-shadow: 0 4px 8px 0 rgba(4, 27, 2, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    position: fixed;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.logoBack .help a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
    left: 80px;
}

.logoBack .contact a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
    left: 40px;
}

.logoBack .about a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
}

/* End of Header */

.SendRequest1{
    position: relative;
    margin-top: 50px;
    margin-left: 10%;
    background-color: rgb(157, 240, 157);
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 1rem;
    grid-auto-rows: auto;
    grid-template-areas:
    "p n q";
}

InterviewerPhoto{
    grid-area: p;
}

CandidateName{
    grid-area: n;
}

Qualifications{
    grid-area: q;
}


.SendRequest2{
    position: relative;
    top: 20px;
    bottom: 160px;
    left: 25%;
    width: 65%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 1rem;
    background-color: rgb(157, 240, 157);

}

#SendRequestbtn{
    position: relative;
    top: 40px;
    border: none;
    background-color: teal;
    width: 120px;
    border-radius: 20px;
    padding: 10px;
    color: rgb(181, 238, 181);
    margin-left: 70%;
    font-weight: bold;
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
       
}
#SendRequestbtn:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(18, 141, 7);
}