#logo {
    position: absolute;
    top:8px;
    left: 5%;
    width:200px;
    height: 50px;
}

.logoBack{
    
    width: 100%;
    height: 60px;
    background: transparent;
    box-shadow: 0 4px 8px 0 rgba(4, 27, 2, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    position: fixed;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.logoBack .help a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
    left: 80px;
}

.logoBack .contact a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
    left: 40px;
}

.logoBack .about a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
}

/* End of Header */

hr {
    position: relative;
    left: 10%;
    width: 90%;
    top: 20px;
    border-top: 2px dashed rgb(16, 119, 7);
  } 

.ScheduleInterview{
    position: relative;
    top: 20px;
    left: 20%;
    height: 600px;
    display: grid;
    grid-template-rows: 0fr 0fr 0fr;
    grid-gap: 1rem;
    background-color: rgb(157, 240, 157);
    width: 60%;
}

p{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #1ed31e;
    font-style: italic;
    backdrop-filter: blur(10px);
}

#Schedulebtn{
    position: relative;
    top: 20px;
    width: 300px;
}

#Schedulebtn{
    position: relative;
    border: none;
    background-color: teal;
    border-radius: 20px;
    padding: 10px;
    color: rgb(198, 233, 198);
    font-weight: bold;
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
   
}
#Schedulebtn:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(18, 141, 7);
}

