#logo {
    position: absolute;
    top:8px;
    left: 5%;
    width:200px;
    height: 50px;
}

.logoBack{
    
    width: 100%;
    height: 60px;
    background: transparent;
    box-shadow: 0 4px 8px 0 rgba(4, 27, 2, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    position: fixed;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.logoBack .help a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
    left: 80px;
}

.logoBack .contact a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
    left: 40px;
}

.logoBack .about a{
    
    font-size: 25px;
    color: lightgreen;
    position: relative;
    top: 10px;
}

/* End of Header */

.SearchRecruiter{
    margin-top: 70px;
    margin-left: 10%;
    width: 80%;
}

#SearchRecruiterbtn{
    border: none;
    background-color: teal;
    width: 120px;
    border-radius: 20px;
    padding: 10px;
    color: rgb(181, 238, 181);
    margin-left: 58%;
    font-weight: bold;
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
   
}
#SearchRecruiterbtn:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(18, 141, 7);
}

hr {
    position: relative;
    top: 20px;
    border-top: 2px dashed rgb(16, 119, 7);
  }

  .SendRequest{
    position: relative;
    top: 10px;
    height: 470px;
    background-color: rgb(157, 240, 157);
}
  .SendRequest p{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #1ed31e;
    font-style: italic;
    backdrop-filter: blur(10px);

}
.SendRequest table{
    position: relative;
    top: 5px;
    width: 100%;
    background-color: rgb(60, 228, 9);
}

#SendRequestbtn{
    position: relative;
    top: 250px;
    border: none;
    background-color: teal;
    width: 120px;
    border-radius: 20px;
    padding: 10px;
    color: rgb(181, 238, 181);
    margin-left: 80%;
    font-weight: bold;
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
   
}
#SendRequestbtn:hover, .icon:hover{
    box-shadow: 0 0 20px rgb(13, 223, 142);
    background-color: rgb(18, 141, 7);
}